$base-font-size: 16px;
$base-line-height: 24px;
$base-font-weight: 300;

$h1-font-size: 3 * $base-font-size;
$h2-font-size: 2 * $base-font-size;
$h3-font-size: 1.5 * $base-font-size;
$h4-font-size: 1.3 * $base-font-size;
$h5-font-size: 1.17 * $base-font-size;
$h6-font-size: 1 * $base-font-size;

$font-family-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-family-lato: 'Lato', 'Source Sans Pro', sans-serif;

$h1-font-family: $font-family-lato;

$base-font-family: $font-family-lato;
$font-monospace: $font-family-lato;

$color-black: black;
$color-dark-grey: #444444;
$color-blue-powder: #6980b0;
$color-vivid-orange: #ed5a21;
$color-orange-slice: #ee9471;
$color-white: #fff;
$color-whitesmoke: whitesmoke;
$color-light-peach: #fdf4f1;
$color-light-grey: #f4f4f4;
$color-medium-grey: #cccccc;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

$susy: (
  columns: 12,
  gutters: 1/4 // The size of a gutter in relation to a single column
);

$breakpoint-wide-px: 1280px;
$breakpoint-normal-px: 768px;
$breakpoint-narrow-px: 480px;

$debug-browser-support: true;
$browser-minimum-versions: (
  "ie": "9"
);
$critical-usage-threshold: 4.46163;
$graceful-usage-threshold: 4.46163;
