// Colors
//
// Colors for Towel.
//
// Markup: colors.hbs
//
// Style guide: colors
.color-blue-powder {
  color: $color-blue-powder;
}

.color-orange-slice {
  color: $color-orange-slice;
}

.color-white {
  color: $color-white;
}

.color-whitesmoke {
  color: $color-whitesmoke;
}

.color-dark-grey {
  color: $color-dark-grey;
}

// Background Colors
.bgcolor-orange-slice {
  background-color: $color-orange-slice;
}

.bgcolor-blue-powder {
  background-color: $color-blue-powder;
}

.bgcolor-white {
  background-color: $color-white;
}

.bgcolor-whitesmoke {
  background-color: $color-whitesmoke;
}

.bgcolor-black {
  background-color: $color-black;
}

.bgcolor-light-peach {
  background-color: $color-light-peach;
}

.bgcolor-vivid-orange {
  background-color: $color-vivid-orange;
}

.bgcolor-dark-grey {
  background-color: $color-dark-grey;
}

.bgcolor-medium-grey {
  background-color: $color-medium-grey;
}

.bgcolor-light-grey {
  background-color: $color-light-grey;
}
