<h2>Standalone examples</h2>
<a href="#" class="button-primary">Primary Button</a>
<a href="#" class="button-secondary">Secondary Button</a>
<a href="#" class="button-tertiary">Tertiary Button</a>

<h2>CTA</h2>
<div class="cta-type-primary"><a href="#">Primary CTA</a></div>
<div class="cta-type-secondary"><a href="#">Secondary CTA</a></div>
<div class="cta-type-tertiary"><a href="#">Tertiary CTA</a></div>
