<h2>Text Colors</h2>
<p class="bgcolor-blue-powder color-white">.color-white</p>
<p class="bgcolor-blue-powder color-whitesmoke">.color-whitesmoke</p>
<p class="color-blue-powder">.color-blue-powder</p>
<p class="color-orange-slice">.color-orange-slice</p>

<h2>Background Colors</h2>
<p class="bgcolor-white">.bgcolor-white</p>
<p class="bgcolor-black color-white">.bgcolor-black</p>
<p class="bgcolor-whitesmoke">.bgcolor-whitesmoke</p>
<p class="bgcolor-blue-powder color-white">.bgcolor-blue-powder</p>
<p class="bgcolor-light-peach">.bgcolor-light-peach</p>
<p class="bgcolor-orange-slice color-white">.bgcolor-orange-slice</p>
<p class="bgcolor-vivid-orange">.bgcolor-vivid-orange</p>
