<div class="content-areas">
  <div class="content-area content-area-layout-four-column content-area-bg-width-full color-white bg-color-black items-padding-none">
    <div class="background-image mobile-bg-image-behavior-background show-on-print">
      <img srcset="https://placehold.it/480x270 480w, https://placehold.it/768x432 768w, https://placehold.it/1280x720 1280w" sizes="100vw" src="https://placehold.it/1280x720" alt="etalf" title="etalf" typeof="foaf:Image">
    </div>
    <div class="content-items">
      <div class="content-item content-item-layout-spotlight color-white bgcolor-black">
        <div class="background-image mobile-bg-image-behavior-hide show-on-print">
          <img srcset="https://placehold.it/480x270 480w, https://placehold.it/768x432 768w" sizes="(min-width:1280px) 320px, (min-width:768px) 25vw, 100vw" src="https://placehold.it/768x432" alt="etalf" title="etalf" typeof="foaf:Image">
        </div>
        <div class="content-item-image">
          <img srcset="https://placehold.it/480x270 480w, https://placehold.it/768x432 768w" sizes="(min-width:1280px) 320px, (min-width:768px) 25vw, 100vw" src="https://placehold.it/768x432" alt="etalf" title="etalf" typeof="foaf:Image">
        </div>
        <div class="content-item-header">asdf</div>
        <div class="content-item-sub-header">asdf</div>
        <div class="content-item-body"><p>asdf</p></div>
        <div class="cta cta-type-primary">
          <a href="http://www.hook42.com">Hook 42!</a></div>
      </div>
    </div>
  </div>
</div>
